* {
    box-sizing: border-box;
}

.overarch{
    position: absolute;
    width: 90vw;
    height: 700px;
    display: flex;
    justify-content: center;
    display: flex;
}

.right-side{
    border: 1px solid black;
    width: 15%;
}

.left-side{
    border: 1px solid black;
    width: 15%;
}
.background{
    display: flex;
    justify-content: center;
  
}
.title{
    z-index: 2;
    position: absolute;
    text-align: center;
    font-family: monospace;

}

canvas{ 
    /* position: absolute; */
    background-color: lightgray;
    width: 1000px;
    height: 700px;
}

body{
    overflow: none;
    background-color: ghostwhite;
    /* background-color: rgb(36,28,28); */
}

.instructions{

}

#footer{
    position: absolute;
    text-align: center;
    bottom: 0;
    width: 90vw;
    height: 2.5rem;
    border: 1px solid black;
}