*{
    margin: 40;
    padding: 0;
    box-sizing: border-box;
}

span{
    opacity: 0;
    transition: all 3s ease-in;
    /* z-index: 2; */
    color: rgb(208, 168, 39);
}

span.fade{
    opacity: .9;
    transition: all 3s ease;
    color: black;
}